@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --accent-clr: #0065ff;
  --padding: 70px;

  --bg: #fff;
  --bg_secondary: #eee;

  --elastic: linear(
    0,
    0.036 1.2%,
    0.148 2.6%,
    0.968 9.7%,
    1.113 12%,
    1.176 14.4%,
    1.18 15.7%,
    1.168 17.1%,
    1.011 24.7%,
    0.982 27.1%,
    0.968 29.7%,
    0.97 32.4%,
    0.998 40%,
    1.006 44.8%,
    0.999 59.9%,
    1
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: 0.3s all ease;
}

body {
  background: #d3d3d3;
}

h1,
h2,
h3,
h4 {
  font-family: "Goldman", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  user-select: none;
}

header {
  width: fit-content;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 5px 15px #0001;
}

header.active {
  right: calc(500px + 20px);
  left: auto;
  transform: translate(0);
}

.headerLogo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.headerLogo img {
  width: 45px;
  height: 45px;
}

.headerLogo h1 {
  font-size: 1.5rem;
}

header ul {
  display: flex;
}

header ul a {
  padding: 10px 15px;
  border-radius: 20px;
}

header ul a:hover {
  background: #eee;
}

header button {
  height: 100%;
  aspect-ratio: 1;
  border: none;
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(120deg, var(--accent-clr), aqua);
}

header button svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

header button:hover {
  box-shadow: 0 0 10px aqua;
}

.cartContainer {
  width: 500px;
  height: calc(100% - 20px);
  background: var(--bg);
  box-shadow: 0 0 15px #0001;
  right: 10px;
  top: 10px;
  border-radius: 20px;
  position: fixed;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transform: translateX(110%) scale(0.8);
  transform-origin: right center;
  opacity: 0;
  transition-timing-function: var(--elastic);
  transition-duration: 1s;
}
.cartContainer.active {
  transform: translateX(0) scale(1);
  opacity: 1;
}

.cartContainer > h1:first-child {
  text-align: center;
}

.cartContainer > h1:last-child {
  margin-top: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.itemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartItem {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 8px;
  border-radius: 10px;
  background: var(--bg_secondary);
}

.cartItem h1 {
  font-size: 1.1rem;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.cartItem button {
  height: fit-content;
  padding: 5px 12px;
  margin: auto 0 auto auto;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 20px;
  background: linear-gradient(120deg, var(--accent-clr), aqua);
  background-position: center;
  background-size: 100% 100%;
  margin-top: auto;
  font-weight: 500;
  color: #fff;
}

.card button:hover {
  background-size: 200% 200%;
  box-shadow: 5px 5px 1px #0001;
}

.cartItem img {
  width: 70px;
  height: 100%;
  object-fit: contain;
}

.cartItem main {
  width: 100%;
  margin-top: 100px;
}

.title {
  width: 100%;
  padding: 30px var(--padding);
}

.title p {
  opacity: 0.5;
}

.grid {
  width: 100%;
  height: fit-content;
  padding: 0 var(--padding);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.grid.active {
  grid-template-columns: 1fr;
}

.grid.active .card {
  flex-direction: row;
  max-height: 300px;
  min-height: 300px;
}

.grid.active .card .cardImage {
  height: 100%;
  width: fit-content;
  min-width: 300px;
}

.grid.active .card button {
  max-width: 300px;
}

.card {
  width: 100%;
  height: auto;
  padding: 20px;
  border-radius: 20px;
  background: var(--bg);
  box-shadow: 0 0 10px #0001;
  border: 2px solid #0005;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.grid:not(.active) .card p.desc {
  display: none;
}

.card:hover {
  border-color: var(--accent-clr);
}

.cardImage {
  width: 100%;
  height: 250px;
  background: var(--bg_secondary);
  border-radius: 10px;
  padding: 10px;
  position: relative;
}

.cardImage:hover img {
  scale: 1.05;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cardImage span {
  position: absolute;
  font-weight: 600;
  margin-left: 25px;
}

.cardImage span::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(/assets/star.svg);
  background-size: 25px;
  left: -25px;
  top: -4px;
}

.card h1 {
  font-size: 1.2rem;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.card p {
  opacity: 0.5;
  text-transform: capitalize;
}

.card button {
  width: 100%;
  height: 40px;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 20px;
  background: linear-gradient(120deg, var(--accent-clr), aqua);
  background-position: center;
  background-size: 100% 100%;
  margin-top: auto;
  font-weight: 500;
  color: #fff;
}

.card button:hover {
  background-size: 200% 200%;
  box-shadow: 5px 5px 1px #0001;
}

.card p.price {
  opacity: 1;
  font-weight: 500;
  padding: 5px 8px;
  background: #0001;
  border-radius: 5px;
  width: fit-content;
}

.filter {
  width: calc(100% - var(--padding) * 2);
  height: 50px;
  margin: 10px auto 20px;
  display: flex;
  gap: 8px;
  background: var(--bg);
  border-radius: 20px;
  padding: 6px;
  box-shadow: 0 0 10px #0001;
}

.filter .search {
  flex: 1;
  height: 100%;
  background: var(--bg_secondary);
  border-radius: 15px;
}

.filter .search input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 10px;
  background: none;
  border-radius: inherit;
}

.filter select {
  height: 100%;
  background: var(--bg_secondary);
  border-radius: 15px;
  border: none;
  padding-inline: 8px;
}

.layout {
  display: flex;
  border-radius: 15px;
  background: var(--bg_secondary);
  padding: 3px;
}

.layout .option {
  padding: 5px;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 12px;
  background: var(--bg);
  cursor: pointer;
  display: grid;
  place-content: center;
}

.layout .option:last-child,
.layout.active .option:first-child {
  opacity: 0.8;
  background: transparent;
}

.layout .option:first-child,
.layout.active .option:last-child {
  opacity: 1;
  background: var(--bg);
}

.layout .option svg {
  width: 20px;
  height: 20px;
}
